<section class="top_songs">
    <h2 class="title">Top Tracks</h2>
    <ul class="top_songs_list" *ngIf="!loading_top_songs && top_songs.length > 0">
        <li class="top_songs_list_item" *ngFor="let song of top_songs">
            <div class="track_image">
                <img class="img-fluid rounded" [src]="song.album.cover_small" [alt]="song.album.title + ' cover'">
            </div>
            <div class="track_info d-flex flex-column justify-content-center ms-2">
                <h6 class="track_info_title mb-2">
                    {{ song.title }}
                </h6>
                <div class="explicit">
                    E
                </div>
            </div>
            <div class="track_duration d-flex align-items-center ms-auto">
                {{ song.duration }}
            </div>
        </li>
    </ul>
</section>
