<a class="artist_card artist_card_placeholder">
    <div class="position-relative">
        <div class="artist_card_image ratio ratio-1x1 placeholder-wave bg-secondary rounded-circle"></div>
        <h4 class="artist_card_title placeholder-wave">
            <span class="placeholder col-8"></span>
        </h4>
    </div>
    <div class="d-flex justify-content-center">
        <p class="placeholder-wave placeholder placeholder-sm bg-secondary col-2 me-2 mb-1"></p>
        <p class="placeholder-wave placeholder placeholder-sm bg-secondary col-5 mb-1"></p>
    </div>
    <div class="d-flex justify-content-center">
        <p class="placeholder-wave placeholder placeholder-sm bg-secondary col-2 me-2 mb-1"></p>
        <p class="placeholder-wave placeholder placeholder-sm bg-secondary col-5 mb-1"></p>
    </div>
</a>

