<nav class="navbar custom_navbar">
    <div class="container flex-nowrap">
        <a class="navbar-brand logo">
            <img class="d-none d-sm-block" src="/assets/logo.png" alt="DeezArtistz Logo" />
            <img class="d-block d-sm-none" src="/assets/logo_small.png" alt="DeezArtistz Logo" width="60" />
        </a>
        <div class="input-group d-flex" role="search">
            <input
                class="form-control custom_input"
                type="search"
                placeholder="Search"
                aria-label="Search"
                name="search"
                [formControl]="search"
                (keydown)="onSearchArtistsEnter($event)"
            />
            <button type="button" class="btn btn-primary search_btn" (click)="onSearchArtistsClick()">
                <span class="visually-hidden">Search for artists</span>
                <i class="fa-solid fa-magnifying-glass text-white" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</nav>
