<li class="top_songs_list_item">
    <div class="track_image placeholder-wave placeholder ratio ratio-1x1 rounded" style="width: 56px"></div>
    <div class="track_info d-flex flex-column justify-content-between ms-2">
        <h6 class="track_info_title placeholder-wave placeholder" style="width: 150px"></h6>
        <h6 class="track_info_title placeholder-wave placeholder" style="width: 100px"></h6>
    </div>
    <div class="track_duration d-flex align-items-center ms-auto">
        <span class="placeholder-wave placeholder d-block" style="width: 50px; height: 16px;"></span>
    </div>
</li>
