<li class="top_songs_list_item">
    <div
        style="width: 56px"
        class="track_image placeholder-wave placeholder ratio ratio-1x1 rounded"
    ></div>
    <div class="track_info d-flex flex-column justify-content-between ms-2">
        <h6
            style="width: 150px"
            class="track_info_title placeholder-wave placeholder"
        ></h6>
        <h6
            style="width: 100px"
            class="track_info_title placeholder-wave placeholder"
        ></h6>
    </div>
    <div class="track_duration d-flex align-items-center ms-auto">
        <span
            style="width: 50px; height: 16px;"
            class="placeholder-wave placeholder d-block"
        ></span>
    </div>
</li>
